//screen dimensions
$bp-largest:87.5em;//1400px/16px=87.5em
$bp-large:68.75em;//1100px/16px
$bp-medium:56.25em;//900px/16px=56.25em
$bp-small:37.5em;//600px/16px=37.5em
$bp-smallest:31.25em;//500px/16px=31.25em;