.forgotPasswordContainer{
    height: 100%;
    width: 100%;
    display: flex;
    margin: auto;
    background-image: url('../../assets/images/burger_background.jpg');
    opacity: .7;
    z-index: 0;
}
.forgotPasswordContent{
    min-height: 50%;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    margin: auto;
    -webkit-box-shadow: -3px 18px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 18px 19px -4px rgba(0,0,0,0.75);
    box-shadow: -3px 18px 19px -4px rgba(0,0,0,0.75);
    border-radius: .5rem;
    border:1px solid gray;
    background-color: white;
    z-index: 1;
}
.recoverTitle{
    text-align: center;
    align-items: center;
}
.forgotPassword{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin:5rem auto;
    justify-items: center;
    align-items: center;
    text-align: center;
    h2{
        text-align: center;
    }
    button{
        width: 70%;

    }
    button:disabled{
        color:#5c9210;
    }
    button:hover{
        color:white;
    }
    &__input{
        width: 100%;
        text-align: center;
        padding: 1rem;
        border-radius: 1rem;
        border:1px solid gray;
    }
}