.InputForm{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    

}

.InputElement:focus{
    outline:none;
    background-color: #ccc;
    border-bottom: 1.5px solid #5c9210;
}

.Invalid{
    border-bottom: 1.5px solid #944317;
    background-color: salmon;
}